{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    /**
     * Template for displaying a course report with description, features, and premium notification.
     *
     * @package     local_edudashboard
     * @copyright   2025 edudigital <geral@edudigital-learn.com>
     * @license     http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
     */

    /**
     * @template local_edudashboard_coursereport
     * @example {
     *   "report_description": "This report provides an overview of course activity and completion.",
     *   "report_features": "Key Features",
     *   "features_list": [
     *     "Track enrolled users",
     *     "Monitor course completion",
     *     "Analyze data size"
     *   ],
     *   "premium_url": "https://edudigital-learn.com/upgrade"
     * }
     */
}}

<div class="coursereport-content">
</div>

<div class="report-description">
    <p>{{ report_description }}</p>

    {{#report_features}}
        <h3>{{ report_features }}</h3>
    {{/report_features}}
    <ul>
        {{#features_list}}
            <li>{{ . }}</li>
        {{/features_list}}
    </ul>
</div>

<div class="premium-notification">
    <p>{{#str}} report_content, local_edudashboard {{/str}}</p>
    <a href="{{ premium_url }}" class="premium-button">{{#str}} upgrade_premium, local_edudashboard {{/str}}</a>
</div>