{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    /**
     * Template for displaying course size data using a chart.
     *
     * @package     local_edudashboard
     * @copyright   2025 edudigital <geral@edudigital-learn.com>
     * @license     http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
     */

    /**
     * @template local_edudashboard_coursessize
     * @example {
     *   "style": "width: 100%; max-width: 800px; margin: 0 auto;",
     *   "nodata": false,
     *   "containerid": "courses-size-chart",
     *   "message": "No data available for course sizes.",
     *   "names": ["Course 1", "Course 2", "Course 3"],
     *   "series": [
     *     {"name": "Size (MB)", "data": [150, 200, 75]},
     *     {"name": "Activities", "data": [10, 15, 8]}
     *   ]
     * }
     */
}}

{{> local_edudashboard/chartview}}